

<div class="flex flex-column">

  <span class="text-lg mb-4">Register</span>

  <mat-form-field>
    <mat-label>Usuario</mat-label>
    <input type="text" matInput placeholder="Nome do usuario">
  </mat-form-field>


  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input type="text" matInput placeholder="Nome do usuario">
  </mat-form-field>


  <mat-form-field>
    <mat-label>Senha</mat-label>
    <input type="password" matInput placeholder="Senha do usuario">
  </mat-form-field>


  <button mat-button mat-flat-button color="primary">
    <mat-icon>save</mat-icon>
     Criar conta
  </button>

  <div class="flex justify-content-end mt-5">
     <a routerLink="/auth/login">Fazer login</a>
  </div>

</div>
